h1{
    border-radius: 10px;
    width: 345px;
    text-align: center;
    margin-left: 45%;
    
}
h2{
    font-style: italic;
}
p{
   font-weight: bold;
    font-size: 25 px; 
}
.forTitulo{
    font-family: Arial;
    color: grey;
    background-color: whitesmoke;
}
.estiloRojo{
    color: rgba(229, 2, 2, 0.855);
}
.estiloVerde{
    color: rgb(47, 255, 193);
}
#caja1{
    text-align: center;
    background-color: rgba(212, 92, 92, 0.542);
    width: 300px;
    color: grey;
    padding: 20px;
    border-radius: 10px;
    margin-left: 45%;
}
#caja2{
    text-align: center;
    background-color: rgba(46, 141, 127, 0.542);
    width: 300px;
    color: grey;
    padding: 20px;
    border-radius: 10px;
    margin-left: 45%;
}
#caja3{
    text-align: center;
    background-color: rgba(40, 36, 36, 0.542);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 45%;
}