.caja {
    width: 300px;
    height: 300px;
    /*background-color: aqua;*/
    background: rgba(0, 65, 255, 0.73);
    background: linear-gradient(90deg, rgba(0, 65, 255, 0.73) 20%, rgba(139, 14, 228, 0.97) 80%);
    background: -webkit-linear-gradient(90deg, rgba(0, 65, 255, 0.73) 20%, rgba(139, 14, 228, 0.97) 80%);
    background: -moz-linear-gradient(90deg, rgba(0, 65, 255, 0.73) 20%, rgba(139, 14, 228, 0.97) 80%);
}